.embla {
    --slide-spacing:10%;
    --slide-size:100%;
}

.embla__viewport {
  overflow:visible;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-right: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}