.App {
  /* background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(./assets/bg.svg);
  object-fit: fill; */

  /* background-color: #c4c4c4; */
}

body {
  padding: 0;
  margin: 0;
}

/* @media only screen and (max-width: 815px){
  .MouseFollower{
    display: none;
  }
} */